{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h2>Welcome, {{ student.full_name }}</h2>
    <p>{{ student.matric_number }} | {{ student.department }} | Level {{ student.level }}</p>
</div>
<div class="card">
    <h2>Wallet Balance</h2>
    <p class="balance">NGN {{ student.wallet.balance }}</p>
</div>
<div class="card">
    <h2>Quick Actions</h2>
    <a class="btn-link" href="/wallet">My Wallet</a>
    <a class="btn-link" href="/topup">Top Up</a>
    <a class="btn-link" href="/transfer">Transfer</a>
    <a class="btn-link" href="/transactions">History</a>
    <a class="btn-link" href="/identity">My QR ID</a>
</div>
{% endblock %}
